.headerTitle {
    display: flex;
    width: 80%;
}
.headerOne {
    margin-left: 10px;
    margin-top: 20px;
}
.headerTwo {
    margin-left: 10px;
    margin-top: 20px;    
}
.headerThree {
    margin-left: 10px;
    margin-top: 20px;    
}